body {
    background-color: #111122;
}

canvas {
    position: absolute;
    margin: auto;
    left: calc(50% - 640px);
    top: 100px;
}

#title {
    text-align: center;
    color: #fff;
    font-family: 'Original Surfer', cursive;
}

#inst-header {
    position: absolute;
    width: 99vw;
    text-align: center;
    color: #fff;
    top: 820px;
    font-family: 'Poppins', sans-serif;
}

#instructions {
    position: absolute;
    width: 900px;
    left: calc(50% - 450px);
    text-align: center;
    color: #fff;
    top: 855px;
    font-family: 'Poppins', sans-serif;
}

#poem-area {
    position: absolute;
    z-index: 0;
    width: 200px;
    height: 100px;
    left: calc(50% - 100px);
    top: calc(50% - 50px);
}

#poem-submit {
    position: absolute;
    z-index: 0;
    width: 56px;
    height: 25px;
    left: calc(50% + 50px);
    top: calc(50% + 57px);
}