body {
    background-color: #111122;
}

canvas {
    position: absolute;
    margin: auto;
    left: calc(50% - 640px);
    top: 100px;
}

#title {
    text-align: center;
    color: #fff;
    font-family: 'Original Surfer', cursive;
}

#inst-header {
    position: absolute;
    width: 99vw;
    text-align: center;
    color: #fff;
    top: 820px;
    font-family: 'Poppins', sans-serif;
}

#instructions {
    position: absolute;
    width: 900px;
    left: calc(50% - 450px);
    text-align: center;
    color: #fff;
    top: 855px;
    font-family: 'Poppins', sans-serif;
}

#poem-title {
    position: absolute;
    z-index: 0;
    width: 300px;
    height: 25px;
    left: calc(50% - 465px);
    top: calc(50% - 360px);
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

#poem-area {
    position: absolute;
    z-index: 0;
    width: 500px;
    height: 25px;
    left: calc(50% - 600px);
    top: calc(50% - 300px);
    background-color: #e0b47e;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-width: 3px;
    border-color: #000;
    border-radius: 10px;
    outline: none;
    color: #000;
}

#poem-submit {
    position: absolute;
    z-index: 0;
    width: 75px;
    height: 40px;
    left: calc(50% - 380px);
    top: calc(50% - 250px);
    background-color: #e0b47e;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-width: 3px;
    border-color: #000;
    border-radius: 10px;
}

#next {
    position: absolute;
    z-index: 0;
    width: 75px;
    height: 40px;
    left: calc(50% - 475px);
    top: calc(50% - 300px);
    background-color: #e0b47e;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-width: 3px;
    border-color: #000;
    border-radius: 10px;
}

#retry {
    position: absolute;
    z-index: 0;
    width: 75px;
    height: 40px;
    left: calc(50% - 35px);
    top: calc(50% + 100px);
    background-color: #e0b47e;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-width: 3px;
    border-color: #000;
    border-radius: 10px;
}

#win {
    position: absolute;
    z-index: 0;
    width: 75px;
    height: 40px;
    left: calc(50% - 35px);
    top: calc(50% + 200px);
    background-color: #e0b47e;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-width: 3px;
    border-color: #000;
    border-radius: 10px;
}